nlp-parser/node_modules

# nodejs
public/bower_components/
public/node_modules/
public/node_tmp/
public/node/
public/npm.tar.gz

#Keys
public/key.js

#Cloud Functions 
functions/node_modules
functions/pennapps-xx-252213-87c7bf47404a.json